@import '../scss/helper/variable';
@import '../scss/helper/mixin';

.section {
     &-youbanner {
          background: url(#{$asset-path}/youtub-bg.jpg) no-repeat;
          background-size: cover;
          padding: 8rem 0;
          top: 0;

          &::before {
               @include before-after;
               background: url(#{$asset-path}/youtub-bg01.png) no-repeat;
               background-size: cover;
               height: 100%;
               left: 0;
               top: 0;
               width: 100%;
          }

          .logo {
               max-width: 25rem;
               margin: 0 auto 3rem;

               img {
                    max-width: 100%;
               }
          }

          .text {
               h1 {
                    font-family: $ff-inria;
                    font-size: 6rem;
                    font-weight: 700;
                    line-height: 1.3;

                    span {
                         color: $primary-color0;
                    }
               }

               p {
                    color: #898989;
                    font-size: 2.2rem;
                    line-height: 3.3rem;
                    font-family: $ff-roboto;
               }
          }

          .btn-group {
               margin-top: 4rem;

               .btn {
                    @include btn-com;

                    &-line {
                         @include line-btn;
                    }

                    &-solid {
                         @include solid-btn;
                    }

                    &+.btn {
                         margin-left: 2.4rem;
                    }
               }
          }
     }

     &-justv{
          
          .inner-box{
               align-items: center;     
               display: flex;
               justify-content: center;

               img{
                    max-width: 100%;
               }

               .play{
                    position: absolute;
                    margin: auto;
                    inset: 0;
                    height: 65px;
                    width: 95px;
                    z-index: 5;
               }
          }
          .list{
               align-items: center;
               display: flex;
               justify-content: space-between;
               inset: 0;
               position: absolute;

               &-col{
                    height: 430px;
                    width: 650px;

                    img{
                         @include img-full;
                    }

                    &:nth-child(2){
                         padding: 0 20px;
                    }

                    &:nth-child(1),
                    &:nth-child(3){
                         height: 290px;
                         width: 420px;
                    }
               }
          }
     }

     &-watchlist {
          .list {
               &-row {
                    display: flex;

                    &1 {
                         margin-left: -300px;
                         margin-right: -300px;
                    }

                    &2 {
                         margin-left: -30px;
                         margin-right: -30px;
                    }
               }

               &-col {
                    @include img-hover;
                    margin: 1rem;
                    height: 25rem;
                    overflow: hidden;
                    position: relative;

                    a {
                         @include img-hover;

                         img {

                              height: 50px;
                              position: absolute;
                              inset: 0;
                              margin: auto;
                              width: 72px;

                              img {
                                   max-width: 100%;
                              }
                         }
                    }

                    img {
                         @include img-full;
                    }

                    &::after {
                         @include before-after;
                         background-color: rgba($color: $monochome, $alpha: .2);
                         left: 0;
                         height: 100%;
                         top: 0;
                         width: 100%;
                    }

                    &1 {
                         width: calc(100% / 4);
                    }

                    &2 {
                         width: calc(100% / 4);
                    }
               }
          }
     }

     &-pics {
          &.watermark {
               h2 {
                    letter-spacing: 25px;
               }
          }

          .card {
               @include img-hover;
               border-radius: 0;
               cursor: pointer;
               margin: .7rem 0;
               overflow: hidden;

               &-img {
                    height: 190px;
                    overflow: hidden;

                    img {
                         @include img-full;
                    }
               }

               &-link {
                    align-items: center;
                    background-color: #2A4E6F;
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3rem 2rem;

                    p {
                         color: $monochome1;
                         font-family: $ff-inter;
                         font-weight: 500;
                         font-size: 2rem;
                         line-height: 2.4rem;
                    }

                    .link {
                         width: 30px;

                         img {
                              max-width: 100%;
                         }
                    }
               }
          }

          .pagination {
               align-items: center;
               margin-top: 4rem;

               .page {
                    &-item {
                         &+.page-item {
                              margin-left: 5rem;
                         }

                         &.active {
                              .page-link {
                                   border: none;
                                   color: $primary-color0;
                              }
                         }
                    }

                    &-link {
                         border: none;
                         color: $monochome1;
                         background-color: transparent;
                         font-size: 3rem;
                         font-weight: 600;
                         padding: 0;
                         margin: 0;
                         -webkit-text-stroke: 1px $primary-color0;

                         &:hover {
                              border: none;
                              color: $primary-color0;
                         }

                         &.nex-prev {
                              align-items: center;
                              border-radius: 100%;
                              border: 1px solid $primary-color0;
                              display: flex;
                              justify-content: center;
                              height: 5rem;
                              width: 5rem;

                              .icon-hover {
                                   display: none;
                              }

                              &:hover {
                                   background-color: $primary-color0;

                                   .icon {
                                        display: none;

                                        &-hover {
                                             display: block;
                                        }
                                   }
                              }

                              &.next {
                                   transform: rotate(180deg);
                              }
                         }
                    }
               }
          }
     }

     &-youtube {
          background: none;

          .playlist-box {
               box-shadow: none;
               backdrop-filter: inherit;
               padding: 0;
          }

          .slick {
               &-dots {
                    display: block;
                    bottom: -55px;

                    li {
                         height: auto;
                         width: auto;

                         &.slick-active {
                              button {
                                   background: linear-gradient(90deg, #FF3934 0%, #FEBC18 100%);
                                   border-radius: 5px;
                                   width: 30px;
                              }
                         }

                         button {
                              background-color: #CFC3CB;
                              border-radius: 100%;
                              height: 10px;
                              width: 10px;
                         }
                    }
               }
          }
     }

     &-playlist1{
          padding-bottom: 10rem;

          .img-box1{
               background-color: $monochome1;
               height: 390px;
               position: absolute;
               left: 0;
               margin: auto;
               top: 200px;
               right: 0;
               img{
                    max-width: 100%;
               }

               .btn-play{
                    height: 67px;
                    position: absolute;
                    margin: auto;
                    inset: 0;
                    width: 95px;
                    z-index: 5;
                    top: -60px;
               }
          }

          .img-mockup{
               position: absolute;
               margin: auto;
               left: 0;
               right: 0;
          }          

          .carousel{
               &-container{
                    height: 390px;
                    p{
                         align-items: center;
                         border-radius: 60px;
                         background: linear-gradient(122.72deg, rgba(79, 79, 79, 0.1) 1.74%, rgba(79, 79, 79, 0.1) 1.75%, rgba(255, 255, 255, 0.1) 33.05%, rgba(79, 79, 79, 0.1) 97.16%);
                         height: 65px;
                         display: flex;
                         justify-content: center;
                         margin:30px auto 0;
                         width: 300px;

                         a{
                              & + a{
                                   margin-left: 20px;
                              }
                         }
                    }
               }
               
               &-main{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    height: 390px;
                    width: 640px;
               }

               &-image{
                    height: 290px;
                    width: 420px;
               }
               &-feature {
                    position: absolute;
                    top: -1000px;
                    left: -1000px;
                    border-radius: 10px;
                    cursor: pointer;
                    text-align: center;
                    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1);
                    background-color: #fff;
               
                    a {
                         font-size: 18px;
                    }
               }
               &-image {
                    border: 0;
                    display: block;
               }
          }
     }
}

.watermark {
     h2 {
          color: #E6E6E6;
          font-size: 15rem;
          font-weight: 600;
          letter-spacing: 40px;
          margin-bottom: 4rem;
     }
}

@media (max-width:1650px) {
     .section{
          &-justv {
               .inner-box{
                    margin: auto;
                    width: 600px;
               }

               .list{
                    &-col{
                         height: auto;
                         width: 460px;
                         &:nth-child(1),
                         &:nth-child(3){
                              height: 200px;
                              width: 280px;
                         }
                    }
               }
          }
     }
}

@media (max-width:1550px) {
     .section{
          &-playlist1 {
               .img-box1{
                    top: 160px;
               }
          }
     }
}

@media (max-width:1199px) {
     .section{
          &-justv {
               .inner-box{
                    > img{
                         display: none;
                    }
               }

               .list{
                    position: inherit;
               }
          }
          &-playlist1 {
               .img-box1{
                    top: 90px;
               }
          }
     }

     .watermark {
          h2{
               font-size: 8rem;
          }
     }
}

@media (max-width:767px) {
     .section{
          &-playlist1 {
               display: none;
               .img-box1{
                    display: none;
               }
          }
          &-justv {

               .list{
                    justify-content: center;
                    &-col{
                         height: auto;
                         max-width: 340px;
                         margin: auto;
                         &:nth-child(1),
                         &:nth-child(3){
                              display: none;
                         }
                    }
               }
          }
     }
     .watermark {
          h2{
               font-size: 6rem;
               letter-spacing: 0;
          }
     }
}