@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-r {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

@keyframes pulse {

    0%,
    100% {
        fill-opacity: 1;
    }

    50% {
        fill-opacity: 0.5;
    }
}

@keyframes launch {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }
}

@keyframes shake1 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px);
    }

    75% {
        transform: translateY(2px);
    }
}

@keyframes small-big {
    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1.01);
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}