@mixin gradient {
    background: linear-gradient(90deg, #016D85 0%, rgba(1, 109, 133, 0) 100%);
}

@mixin img-full {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

@mixin rotation-360 {
    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@mixin btn2-common {
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background: none;
    display: inline-flex;
    font-size: 1.8rem;
    font-weight: 500;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    outline: none;
    z-index: 1;

    span {
        margin: 0 .8rem;
    }
}

@mixin before-after {
    content: "";
    position: absolute;
}


@mixin img-hover {
    img {
        transition: all ease-in .2s;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

@mixin font-size-16 {
    font-size: 1.6rem;
    line-height: 2rem;
}

@mixin font-size-18 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

@mixin font-size-22 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}

@mixin font-size-24 {
    font-size: 2.4rem;
    line-height: 3rem;
}

@mixin btn-com {
    align-items: center;
    border: 2px solid $primary-color0;
    border-radius: 6px;
    display: flex;
    font-family: $ff-inter;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.7rem 2rem;
    text-transform: uppercase;
}

@mixin line-btn {
    span {
        color: $primary-color0;
    }

    svg {
        path {
            fill: $primary-color0;
        }
    }

    &:hover {
        background-color: $primary-color0;

        span {
            color: $monochome1;
        }

        svg {
            path {
                fill: $monochome1;
            }
        }
    }
}

@mixin solid-btn {
    background-color: $primary-color0;
    color: $monochome1;

    &:hover {
        background-color: $monochome1;
        color: $primary-color0;

        svg {
            path {
                fill: $primary-color0
            }
        }
    }
}